body,
html {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f5f6fa;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.text {
  color: #f5f6fa;
}

header {
  position: sticky;
  background-color: #f5f6fa;
  top: 0;
  z-index: 1;
}
section:not(:first-of-type) {
  height: auto;
  margin: 1.5rem auto;
  padding: 0.5rem;
}

section:first-of-type {
  height: 50vh;
  width: 100vw;
}

#home {
  background-image: url(/pics/markus-spiske-hvSr_CVecVI-unsplash.jpg);
  background-color: tomato;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
