#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999999999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("/pics/preloader.gif") no-repeat center center;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

body,
html {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f3f5f8;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  text-align: center;
  text-decoration: none;
  font-size: 40%;
  /* width: 100vw; */
}

.navbar {
  font-size: 1.8rem;
  font-weight: 700;
}

.card {
  width: 16rem;
}

/* #About {
  background-color: #e04343;
  color: #f3f5f8;
} */

h1 {
  font-weight: 700;
}
a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.text {
  color: #f3f5f8;
}

header {
  position: sticky;
  background-color: #f3f5f8;
  top: 0;
  z-index: 1;
  border-bottom: 4px solid #747272;
}
section {
  position: relative;
  height: auto;
  margin: 1rem auto;
  padding: 0.5rem;
  position: relative;
  width: 100vw;
  padding: 5rem 0rem;
}

#home {
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(/pics/markus-spiske-hvSr_CVecVI-unsplash.jpg);
  background-color: tomato;
  background-position: center center;
  font-weight: 800;
  font-size: 2.4rem;
  font-style: bold;
  background-size: cover;
}
.heading {
  font-size: 5.2rem;
}

.overlay {
  position: absolute;

  width: 100%;
  min-height: 100vh;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  color: #f3f5f8;
}
p {
  font-size: 2rem;
}

.txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buton {
  background-color: #e04343;
  font-size: 4.2rem;
  margin-top: 2.2rem;
  color: #f3f5f8;
  font-weight: 700;
  border-radius: 10px;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
}
.buton:hover {
  background-color: #f3f5f8;
  color: #e04343;
  border-color: black;
}

.sub-container {
  margin-top: 2rem;
}

.sub-head {
  font-size: 1.8rem;
}

.contain {
  /* border: 2px solid black; */
  padding: 1.5rem;
  border-radius: 10px;
}

.prj {
  /* background-color: rgb(233, 233, 233);
   */
  background-color: #ececec;
  box-shadow: 3px 2px 15px 1px rgba(46, 74, 117, 0.25);
  border-radius: 10px;
  padding: 4px;
}
.prj-title {
  font-weight: 700;
  font-size: 1.9rem;
  /* color: #f5f6fa; */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.prj-desc {
  font-weight: 500;
  word-spacing: 1px;
  line-height: 25px;
  font-size: 1.8rem;
}
.prj-desc spam {
  color: #e04343;
  font-weight: 500;
}
hr {
  color: black;
  font-weight: 700;
}
.prj-btn {
  background-color: #e04343;
  color: #f3f5f8;
  font-size: 1.9rem;
  padding: 0.3rem;
  font-weight: 700;
  border-radius: 4px;
}
.prj-btn:hover {
  background: #f3f5f8;
  color: #e04343;
  border-color: black;
  border-width: 5px;
}
h2 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
h2::after {
  content: " ";
  border: solid 1px #cccccc;
  display: block;
  width: 60%;
  margin-top: 20px;
  margin: auto;
}

h2 {
  font-size: 12px;
  /* margin: 1.3rem 0; */
}

h2 {
  text-transform: uppercase;
  /* color:#353535; */
  letter-spacing: 4px;
  background: url("../img/h1-bg.png") no-repeat center bottom;
  padding-bottom: 30px;
  font-weight: bold;
}

label {
  font-weight: 700;
  font-size: 2.5rem;
}

.imp {
  height: 4rem;
  font-size: 2rem;
  font-weight: 700px;
}
.btt {
  background-color: #e04343;
  color: #f3f5f8;
  font-size: 1.9rem;
  padding: 0.3rem;
  font-weight: 700;
  border-radius: 4px;
}
.btt:hover {
  background: #f3f5f8;
  color: #e04343;
  border: 1px solid #e04343;
  border-width: 5px;
}
nav a {
  padding: 3px;
  font-size: 2rem;
  font-weight: 700;
  font-style: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navbar a {
  background-color: #f3f5f8 !important;
  border-radius: 10px;
  padding: 7px;
  color: black !important;
}

.navbar a:hover {
  background-color: #e04343 !important;
  border-radius: 10px;
  padding: 2px;
  color: #f3f5f8 !important;
}

footer {
  font-family: "montserrat-regular", sans-serif;
  font-size: 14px;
  padding: 6.6rem 0 4.2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
  background-color: black;
}

footer {
  font-family: "montserrat-regular", sans-serif;
  font-size: 14px;
  padding: 6.6rem 0 4.2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
}

footer a,
footer a:visited {
  color: #862121;
}

footer a:hover,
footer a:focus {
  color: #ffffff;
}

/* .footer-logo {
  display: inline-block;
}

.footer-site-logo {
  display: block;
  width: 130px;
} */

.footer-social {
  list-style: none;
  margin-top: 1rem;
  margin-left: 0;
  font-family: "montserrat-regular", sans-serif;
  font-size: 2.1rem;
  text-transform: uppercase;
  line-height: 5rem;

  letter-spacing: 0.3rem;
}

.footer-social li {
  display: inline-block;
  padding-left: 0;
  margin-right: 0.9rem;
  line-height: 3.9rem;
  vertical-align: middle;
}

.footer-social li::after {
  content: "|";
  color: rgba(255, 255, 255, 0.15);
  padding-left: 0.9rem;
}

.footer-social li i {
  font-size: 2.1rem;
  line-height: 5rem;
  vertical-align: middle;
}

.footer-social li span {
  margin-left: 0.6rem;
}

.footer-social li a {
  color: #ffffff;
}

.footer-social li:last-child {
  margin-right: 0;
}

.footer-social li:last-child::after {
  display: none;
}

.footer-bottom {
  margin-top: 7.2rem;
  text-align: center;
}

.footer-bottom .copyright span {
  display: inline-block;
}

.footer-bottom .copyright span::after {
  content: "|";
  display: inline-block;
  padding: 0 1rem 0 1.2rem;
  color: rgba(255, 255, 255, 0.1);
}

.footer-bottom .copyright span:last-child::after {
  display: none;
}
