.con {
  margin: 2rem;
}

.row {
  margin: 1rem;
}

.card {
  background-color: #fafafa !important;
  border: 0;
  box-shadow: 0px 4px 10px #bdbdbe;
}

.btn {
  background-color: #1d3557;
  border: 0;
  border-radius: 8px;
  font-weight: 600;
}

.btn:hover {
  background-color: #f1faee;
  color: #1d3557;
  font-weight: 600;
  border: #1d3557 solid 2px;
}

.card-title {
  font-weight: 700;
}
.card-text .text-muted {
  font-weight: 500;
  text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .con {
    margin: 0.5rem;
    margin-top: 1rem;
  }

  .row {
    margin: 0.2rem;
  }

  .card {
    background-color: #fafafa !important;
    border: 0;
    box-shadow: 0px 4px 10px #bdbdbe;
  }

  .btn {
    background-color: #1d3557;
    border: 0;
    border-radius: 8px;
    font-weight: 600;
  }

  .btn:hover {
    background-color: #f1faee;
    color: #1d3557;
    font-weight: 600;
    border: #1d3557 solid 2px;
  }

  .card-title {
    font-weight: 700;
  }
  .card-text .text-muted {
    font-weight: 500;
    text-align: center;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

@media only screen and (min-width: 1224px) {
  /* Styles */
}
