.logo {
  height: 60px;
  width: 60px;
}
.color-muted {
  color: rgb(92, 92, 92);
}

.content2 {
  font-weight: 500;
}
label {
  font-weight: 500;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .logo {
    height: 40px;
    width: 40px;
  }
  .color-muted {
    color: rgb(92, 92, 92);
    font-weight: 500;
    font-size: 1.2rem;
  }

  .content2 {
    font-weight: 500;
    width: 100%;
    font-size: 1rem;
    text-align: left;
    font-weight: 500;
    margin-top: 1rem;
  }
  label {
    font-weight: 500;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

@media only screen and (min-width: 1224px) {
  /* Styles */
}
