.formContainer {
  background-color: #f1faee;
  margin: 4rem;
}
.conSvg {
  padding: 1px;
}

.d-flex span {
  margin: 5px;
}
.formContain {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  background-color: #1d3557;
  border: 0;
  border-radius: 8px;
  font-weight: 600;
  color: white;
}

.title {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.email {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #e63946;
}

.btn:hover {
  background-color: #f1faee;
  color: #1d3557;
  font-weight: 600;
  border: #1d3557 solid 2px;
}

.conSvg {
  height: 40px;
  width: 40px;
}

.con-P {
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.contactSVG {
  height: 300px;
  width: 500px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .contact-title {
    margin-top: 1rem;
    padding: 1.5rem;
  }

  .formContainer {
    background-color: #f1faee;
    margin: 0rem;
    margin-top: 1rem;
  }

  h3 {
    font-size: 1.2rem;
  }
  .formContain {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }

  .btn {
    background-color: #1d3557;
    border: 0;
    border-radius: 8px;
    font-weight: 600;
    color: white;
  }

  .btn:hover {
    background-color: #f1faee;
    color: #1d3557;
    font-weight: 600;
    border: #1d3557 solid 2px;
  }

  .conSvg {
    height: 30px;
    width: 30px;
  }

  .con-P {
    font-weight: 500;
    height: 58vh;
    font-size: 1.1rem;
    margin-top: 1.5rem !important;
  }

  .contactSVG {
    height: 150px;
    width: 230px;
  }

  .lis {
    margin-top: 2rem !important;
    padding: 0;
  }

  .title {
    margin-top: 1.2rem;
    font-size: 1rem;
    font-weight: 700;
  }

  .email {
    margin-top: 1.2rem;
    font-size: 1rem;
    font-weight: 700;
    /* color: #e63946; */
  }

  h3 {
    margin-top: 1rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

@media only screen and (min-width: 1224px) {
  /* Styles */
}
